img{max-width: 100%;}
.item{
    float: left;
    width: 100%;
    background-color: #ffffff;
    margin-bottom: 30px;
    text-align: center;
}
.item .name{
    padding: 10px;
    font-size: 16px;
    text-transform: uppercase;
}
.item .desc{
    font-size: 14px;
    color: #666666;
    padding: 10px;
}
.item .price{
    font-size: 16px;
    font-weight: 500;
}
.item .detail{
    float: left;
    width: 100%;
    background-color: #000000;
    text-transform: uppercase;
    color: #ffffff;
    padding: 10px;
    text-decoration: none;
    margin-top: 15px;
}
.icon:hover{
    font-size: 50px;
    transition: all 300ms;
    color: red;
}